In [1]:
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv('private-sector_ind.csv')
df.head()
df.loc[df['Indicator Name']=='Start-up procedures to register a business (number)']

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
427,India,IND,2019,Start-up procedures to register a business (nu...,IC.REG.PROC,10
428,India,IND,2018,Start-up procedures to register a business (nu...,IC.REG.PROC,10
429,India,IND,2017,Start-up procedures to register a business (nu...,IC.REG.PROC,12
430,India,IND,2016,Start-up procedures to register a business (nu...,IC.REG.PROC,14
431,India,IND,2015,Start-up procedures to register a business (nu...,IC.REG.PROC,14
432,India,IND,2014,Start-up procedures to register a business (nu...,IC.REG.PROC,15
433,India,IND,2013,Start-up procedures to register a business (nu...,IC.REG.PROC,14